body {
  text-align: center;
}
H1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.header {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
div {
  background-image: url("../photos/the-flatiron-building.png");
}
h2{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}
p {
  font-family: helvetica;
  font-size: 14px;
}
